In [1]:
from lib.functions.get_temperature_path import get_temperatures_path

last_fetch_path = get_temperatures_path()
last_fetch_path

PosixPath('/home/naheridi/DataspellProjects/temperature-analysis/notebooks/../data/temperatures/2021-04-12T13:38:31')

In [2]:
from pandas import read_csv

temperatures = read_csv(last_fetch_path / '2_normalized' / 'filtered_dataset.csv', parse_dates=True, index_col=0)
temperatures

,wall_316,wall_210,bat_412_a,bat_316,bat_420,wall_412_a,bat_210,wall_420
2020-03-02 09:00:00,22.62,NaN,43.06,47.06,50.25,23.44,NaN,22.44
2020-03-02 09:10:00,22.62,24.25,43.19,46.81,49.88,23.50,43.50,22.44
2020-03-02 09:20:00,22.56,23.06,43.00,46.63,49.31,23.44,43.00,22.25
2020-03-02 09:30:00,22.62,21.94,42.69,46.56,49.31,23.50,42.06,22.69
2020-03-02 09:40:00,22.62,22.25,42.56,NaN,49.38,23.44,42.13,22.94
...,...,...,...,...,...,...,...,...
2021-12-04 12:50:00,19.94,24.81,23.00,41.37,46.81,21.44,40.00,22.56
2021-12-04 13:00:00,19.94,24.87,23.00,37.31,45.63,21.50,40.69,22.56
2021-12-04 13:10:00,20.06,24.87,23.06,39.94,49.31,21.56,39.88,22.62
2021-12-04 13:20:00,20.12,24.87,23.25,39.00,45.81,21.75,40.44,22.62
2021-12-04 13:30:00,20.19,NaN,23.25,37.75,NaN,21.87,40.44,NaN

In [3]:
wall_temperatures = temperatures[[column for column in temperatures.columns if column.startswith('wall')]]
wall_temperatures = wall_temperatures.rename(columns={column: column.replace('wall', '').replace('_', '') for column in wall_temperatures.columns})
wall_temperatures

                       316    210   412a    420
2020-03-02 09:00:00  22.62    NaN  23.44  22.44
2020-03-02 09:10:00  22.62  24.25  23.50  22.44
2020-03-02 09:20:00  22.56  23.06  23.44  22.25
2020-03-02 09:30:00  22.62  21.94  23.50  22.69
2020-03-02 09:40:00  22.62  22.25  23.44  22.94
...                    ...    ...    ...    ...
2021-12-04 12:50:00  19.94  24.81  21.44  22.56
2021-12-04 13:00:00  19.94  24.87  21.50  22.56
2021-12-04 13:10:00  20.06  24.87  21.56  22.62
2021-12-04 13:20:00  20.12  24.87  21.75  22.62
2021-12-04 13:30:00  20.19    NaN  21.87    NaN

[30333 rows x 4 columns]

In [4]:
bat_temperatures = temperatures[[column for column in temperatures.columns if column.startswith('bat')]]
bat_temperatures = bat_temperatures.rename(columns={column: column.replace('bat', '').replace('_', '') for column in wall_temperatures.columns})
bat_temperatures

                     bat_412_a  bat_316  bat_420  bat_210
2020-03-02 09:00:00      43.06    47.06    50.25      NaN
2020-03-02 09:10:00      43.19    46.81    49.88    43.50
2020-03-02 09:20:00      43.00    46.63    49.31    43.00
2020-03-02 09:30:00      42.69    46.56    49.31    42.06
2020-03-02 09:40:00      42.56      NaN    49.38    42.13
...                        ...      ...      ...      ...
2021-12-04 12:50:00      23.00    41.37    46.81    40.00
2021-12-04 13:00:00      23.00    37.31    45.63    40.69
2021-12-04 13:10:00      23.06    39.94    49.31    39.88
2021-12-04 13:20:00      23.25    39.00    45.81    40.44
2021-12-04 13:30:00      23.25    37.75      NaN    40.44

[30333 rows x 4 columns]

In [5]:
bat_dataset_path = last_fetch_path / '2_normalized' / 'bat_filtered_dataset.csv'

bat_temperatures.to_csv(bat_dataset_path)
bat_dataset_path

PosixPath('/home/naheridi/DataspellProjects/temperature-analysis/notebooks/../data/temperatures/2021-04-12T13:38:31/2_normalized/bat_filtered_dataset.csv')

In [6]:
wall_dataset_path = last_fetch_path / '2_normalized' / 'wall_filtered_dataset.csv'

wall_temperatures.to_csv(wall_dataset_path)
wall_dataset_path

PosixPath('/home/naheridi/DataspellProjects/temperature-analysis/notebooks/../data/temperatures/2021-04-12T13:38:31/2_normalized/wall_filtered_dataset.csv')